<!DOCTYPE html>
<html>
<head>
    <title>Dynamic PDF Example</title>
</head>
<body>
    <h1>Names List</h1>
    <ul>
        {{#each names}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>
